files:
  "/etc/awslogs/config/customlogs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [keycloak.log]
      log_group_name = /customlogs/keycloak
      log_stream_name = {instance_id}
      file = /var/log/containers/*stdouterr.log*

commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
